/* .game-room {
	width: 565px;
	height: 706px;
} */
.card {
	border-radius: 15px;
	width: 80px;
	height: 126px;
	background: transparent url('../images/card_sprites.png');
	position: relative;
}

.user .card {
	cursor: pointer;
	transition: all ease-in-out 0.35s;
}

.user .card:hover {
	transform: translateY(-10px);
	z-index: 5;
}

.backcard {
	background-position-x: 0;
	background-position-y: 0;
}

/****************************************************************
* YELLOW CARDS
****************************************************************/

.yellow-1 {
	background-position-x: -1px;
	background-position-y: -126px;
}

.yellow-2 {
	background-position-x: -82px;
	background-position-y: -126px;
}

.yellow-3 {
	background-position-x: -164px;
	background-position-y: -126px;
}

.yellow-4 {
	background-position-x: -246px;
	background-position-y: -126px;
}

.yellow-5 {
	background-position-x: -328px;
	background-position-y: -126px;
}

.yellow-6 {
	background-position-x: -410px;
	background-position-y: -126px;
}

.yellow-7 {
	background-position-x: -492px;
	background-position-y: -126px;
}

.yellow-8 {
	background-position-x: -574px;
	background-position-y: -126px;
}

.yellow-9 {
	background-position-x: -656px;
	background-position-y: -126px;
}

.yellow-0 {
	background-position-x: -738px;
	background-position-y: -126px;
}

/****************************************************************
* RED CARDS
****************************************************************/

.red-1 {
	background-position-x: -82px;
	background-position-y: -252px;
}

.red-2 {
	background-position-x: -164px;
	background-position-y: -252px;
}

.red-3 {
	background-position-x: -246px;
	background-position-y: -252px;
}

.red-4 {
	background-position-x: -328px;
	background-position-y: -252px;
}

.red-5 {
	background-position-x: -410px;
	background-position-y: -252px;
}

.red-6 {
	background-position-x: -492px;
	background-position-y: -252px;
}

.red-7 {
	background-position-x: -574px;
	background-position-y: -252px;
}

.red-8 {
	background-position-x: -656px;
	background-position-y: -252px;
}

.red-9 {
	background-position-x: -738px;
	background-position-y: -252px;
}

.red-0 {
	background-position-x: -820px;
	background-position-y: -252px;
}

/****************************************************************
* BLUE CARDS
****************************************************************/

.blue-1 {
	background-position-x: -164px;
	background-position-y: -379px;
}

.blue-2 {
	background-position-x: -246px;
	background-position-y: -379px;
}

.blue-3 {
	background-position-x: -328px;
	background-position-y: -379px;
}

.blue-4 {
	background-position-x: -410px;
	background-position-y: -379px;
}

.blue-5 {
	background-position-x: -492px;
	background-position-y: -379px;
}

.blue-6 {
	background-position-x: -574px;
	background-position-y: -379px;
}

.blue-7 {
	background-position-x: -656px;
	background-position-y: -379px;
}

.blue-8 {
	background-position-x: -738px;
	background-position-y: -379px;
}

.blue-9 {
	background-position-x: -820px;
	background-position-y: -379px;
}

.blue-0 {
	background-position-x: -902px;
	background-position-y: -379px;
}

/****************************************************************
* GREEN CARDS
****************************************************************/

.green-1 {
	background-position-x: -246px;
	background-position-y: -504px;
}

.green-2 {
	background-position-x: -328px;
	background-position-y: -504px;
}

.green-3 {
	background-position-x: -410px;
	background-position-y: -504px;
}

.green-4 {
	background-position-x: -492px;
	background-position-y: -504px;
}

.green-5 {
	background-position-x: -574px;
	background-position-y: -504px;
}

.green-6 {
	background-position-x: -656px;
	background-position-y: -504px;
}

.green-7 {
	background-position-x: -738px;
	background-position-y: -504px;
}

.green-8 {
	background-position-x: -820px;
	background-position-y: -504px;
}

.green-9 {
	background-position-x: -902px;
	background-position-y: -504px;
}

.green-0 {
	background-position-x: 0px;
	background-position-y: -630px;
}

/****************************************************************
* WILD CARDS
****************************************************************/

.wild-wild {
	background-position-x: -82px;
	background-position-y: 0px;
}

.wild-draw4 {
	background-position-x: -491px;
	background-position-y: 0px;
}

/****************************************************************
* SPECIAL CARDS
****************************************************************/
.yellow-skip {
	background-position-x: -902px;
	background-position-y: -126px;
}

.yellow-reverse {
	background-position-x: 0px;
	background-position-y: -252px;
}

.yellow-draw2 {
	background-position-x: -820px;
	background-position-y: -126px;
}

.red-skip {
	background-position-x: 0px;
	background-position-y: -379px;
}

.red-reverse {
	background-position-x: -82px;
	background-position-y: -379px;
}

.red-draw2 {
	background-position-x: -902px;
	background-position-y: -252px;
}

.blue-skip {
	background-position-x: -82px;
	background-position-y: -504px;
}

.blue-reverse {
	background-position-x: -164px;
	background-position-y: -504px;
}

.blue-draw2 {
	background-position-x: 0px;
	background-position-y: -504px;
}

.green-skip {
	background-position-x: -164px;
	background-position-y: -630px;
}

.green-reverse {
	background-position-x: -246px;
	background-position-y: -630px;
}

.green-draw2 {
	background-position-x: -82px;
	background-position-y: -630px;
}

.game-room {
	background-color: #a82724;
}

/* .hand .card:nth-of-type(1) {
  right: 0
} */
/* .hand .card:nth-of-type(2) {
  right: 16px;
}
.hand .card:nth-of-type(3) {
  right: 32px;
}
.hand .card:nth-of-type(4) {
  right: 48px;
}
.hand .card:nth-of-type(5) {
  right: 64px;
}
.hand .card:nth-of-type(6) {
  right: 80px;
}
.hand .card:nth-of-type(7) {
  right: 96px;
} */

.user {
	display: flex;
	position: absolute;
	left: 50%;
	bottom: 0;
	/* transform: translateX(-265px);	 */
	/* overflow: scroll; */
}
.player-one {
	position: absolute;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
	/* overflow: scroll; */
}

.player-two {
	position: absolute;
	display: flex;
	top: 50%;
	left: 0;
	transform-origin: bottom left;
	/* transform: translateX(-35%) rotate(90deg); */
	/* overflow: scroll; */
}

.player-three {
	position: absolute;
	display: flex;
	top: 50%;
	right: 0;
	transform-origin: bottom left;
	/* transform: rotate(-90deg) translateX(); */
	/* overflow: scroll; */
}

.discarded-cards {
	position: absolute;
	width: 80px;
	height: 126px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.discarded-cards_container {
	position: relative;
}

.discarded-cards_container .card {
	position: absolute;
}

#deck {
	position: absolute;
	top: 50%;
	left: 65%;
	transform: translateY(-50%);
	cursor: pointer;
}
