:root {
  --bg-color: #a82724;
}


html,
body {
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  width: 100vw;
  height: 100vh;
}

ol, ul {
	list-style: none;
}

body {
  font-family: "Poppins"
}

a {
	color: unset;
	text-decoration: none;
}

.nav {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  color: white;
}

.nav-brand {
  font-weight: 700;
}

.nav-right {
  display: flex;
  gap: 1rem;
}
