:root {
	--primary-color: #a82724;
	--secondary-color: #ffd803;
	--cancel-color: rgb(192, 188, 188);
}

html,
body {
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	width: 100vw;
	height: 100vh;
}

ol,
ul {
	list-style: none;
}

a,
button {
	border: none;
	cursor: pointer;
	border-radius: 3px;
}

body {
	font-family: 'Poppins';
}

a {
	color: unset;
	text-decoration: none;
}

/* UI components */
.primary-btn {
	padding: 1rem 2rem;
	background-color: var(--primary-color);
	color: white;
	font-size: 1.1rem;
}

.secondary-btn {
	padding: 1rem 2rem;
	background-color: var(--secondary-color);
	color: white;
	font-size: 1.1rem;
}

.cancel-btn {
	padding: 1rem 2rem;
	background-color: var(--cancel-color);
	font-size: 1.1rem;
}

.content {
	min-height: 100%;
	padding: 2rem;
}

.nav {
	background-color: var(--primary-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 6rem;
	color: white;
}

.nav-brand {
	font-size: 2rem;
	font-weight: 700;
}

.nav-right {
	display: flex;
	gap: 1rem;
}

/* Footer */
.footer {
	padding: 2rem 6rem;
	background-color: var(--primary-color);
	color: white;
}

/* Landing Page */
.landing {
	height: 100%;
	display: flex;
}

.landing_game-room {
	flex: 3;
	height: 70vh;
	margin-right: 1rem;
	overflow-y: scroll;
}

.landing_list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: var(--primary-color); */
	padding: 1rem;
	/* color: white; */
	border: 1px solid gray;
	border-radius: 3px;
	margin-bottom: 1rem;
}

.landing_list-item_left {
	display: flex;
	gap: 2rem;
}

.landing_list-item button {
	/* border-radius: 0.6rem; */
}

.chat {
	flex: 1;
	height: 70vh;
	border: 1px solid gray;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
}

.chat-msg {
	flex: 1;
	padding: 1rem;
}

.chat-container {
	margin-bottom: 1rem;
}

.chat-input {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	background-color: #f8f8f8;
	font-size: 16px;
	border: none;
	border-top: 1px solid black;
	resize: none;
}

/* Game */
.game {
	display: flex;
}

.game-room {
	flex: 3;
	border: 1px solid gray;
	margin-right: 1rem;
	position: relative;
	height: 70vh;
}

.auth-container {
	display: flex;
	justify-content: center;
}

.auth-form {
	width: 300px;
	padding: 1rem 4rem 3rem 4rem;
	border-radius: 8px;
	/* background-color: var(--primary-color); */
	/* color: white; */
	border: 1px solid rgb(175, 175, 175);
}

.auth-form_input label {
	display: block;
}

.auth-form_input input {
	width: 100%;
	font-size: 1.2rem;
}

.auth-form_input {
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
}

.auth_button-group {
	display: flex;
	flex-direction: row-reverse;
	gap: 1rem;
}

.has-account {
	display: block;
	margin-bottom: 2rem;
}

.has-account:hover {
	text-decoration: underline;
	cursor: pointer;
	/* color: var(--cancel-color); */
}

.auth-from_tnc {
	margin-bottom: 2rem;
}

.auth-from_tnc a:hover {
	text-decoration: underline;
	cursor: pointer;
	/* color: var(--cancel-color); */
}
