<div class='chat'>
	<div class='chat-msg'>
		<div class='chat-container'>
			<span>Bob:</span>
			<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
				minus odio beatae quasi pariatur laboriosam tenetur est ullam, quaerat,
				veniam ratione eligendi cupiditate harum. Itaque consectetur a animi
				amet harum.</span>
		</div>
		<div class='chat-container'>
			<span>Bob:</span>
			<span>Lorem ipsum dolor</span>
		</div>
	</div>
	<textarea class='chat-input'></textarea>
</div>