<div id='htModal' class='howToModal'>
	<div class='howToModal-content'>
		<span id='close' class='close'>&times;</span>
		<h2>Game Play </h2>
		<p>The first player is normally the player to the left of the dealer (you
			can also choose the youngest player) and gameplay usually follows a
			clockwise direction. Every player views his/her cards and tries to match
			the card in the Discard Pile. You have to match either by the number,
			color, or the symbol/Action. For instance, if the Discard Pile has a red
			card that is an 8 you have to place either a red card or a card with an 8
			on it. You can also play a Wild card (which can alter current color in
			play). If the player has no matches or they choose not to play any of
			their cards even though they might have a match, they must draw a card
			from the Draw pile. If that card can be played, play it. Otherwise, the
			game moves on to the next person in turn. You can also play a Wild card,
			or a Wild Draw Four card on your turn. Note: If the first card turned up
			from the Draw Pile (to form the Discard Pile) is an Action card, the
			Action from that card applies and must be carried out. The exceptions are
			if the Wild or Wild Draw Four cards are turned up, in which case – Return
			them to the Draw Pile, shuffle them, and turn over a new card. At any
			time, if the Draw Pile becomes depleted and no one has yet won the round,
			take the Discard Pile, shuffle it, and turn it over to regenerate a new
			Draw Pile. There are two different ways to play regarding drawing new
			cards. The Official Uno Rules states that after a card is drawn the player
			can discard it if it is a match, or if not, play passes on to the next
			player. The other type is where players continue to draw cards until they
			have a match, even if it is 10 times. The game continues until a player
			has one card left. The moment a player has just one card they must yell
			“UNO!”. If they are caught not saying “Uno” by another player before any
			card has been played, the player must draw two new cards. Once a player
			has no cards remaining, the game round is over, points are scored, and the
			game begins over again. Normally, everyone tries to be the first one to
			achieve 500 points, but you can also choose whatever points number to win
			the game, as long as everyone agrees to it. Action Cards: Besides the
			number cards, there are several other cards that help mix up the game.
			These are called Action or Symbol cards. Reverse – If going clockwise,
			switch to counterclockwise or vice versa. Skip – When a player places this
			card, the next player has to skip their turn. If turned up at the
			beginning, the first player loses his/her turn. Draw Two – When a person
			places this card, the next player will have to pick up two cards and
			forfeit his/her turn. Wild – This card represents all four colors, and can
			be placed on any card. The player has to state which color it will
			represent for the next player. It can be played regardless of whether
			another card is available. Wild Draw Four – This acts just like the wild
			card except that the next player also has to draw four cards. With this
			card, you must have no other alternative cards to play that matches the
			color of the card previously played. If you play this card illegally, you
			may be challenged by the other player to show your hand. If guilty, you
			need to draw 4 cards. If not, the challenger needs to draw 6 cards
			instead.
		</p>
		<h3>Reverse</h3>
		<p>If going clockwise, switch to counterclockwise or vice versa.</p>
		<h3>Skip</h3>
		<p>When a player places this card, the next player has to skip their turn.
			If turned up at the beginning, the first player loses his/her turn.</p>
		<h3>Draw</h3>
		<p>When a person places this card, the next player will have to pick up two
			cards and forfeit his/her turn.</p>
		<h3>Wild</h3>
		<p>This card represents all four colors, and can be placed on any card. The
			player has to state which color it will represent for the next player. It
			can be played regardless of whether another card is available. Wild Draw
			Four</p>
		<h3>Wild Draw Four</h3>
		<p>This acts just like the wild card except that the next player also has to
			draw four cards. With this card, you must have no other alternative cards
			to play that matches the color of the card previously played. If you play
			this card illegally, you may be challenged by the other player to show
			your hand. If guilty, you need to draw 4 cards. If not, the challenger
			needs to draw 6 cards instead.</p>

	</div>
</div>