<link rel='stylesheet' href='/stylesheets/style.css' />

<p>15 playing</p>
<div class='game'>
	<div class='game-room'>
        ******game******
	</div>

	<div class="card">

	</div>
	{{> chat}}
</div>