<link rel='stylesheet' href='../stylesheets/cardstyle.css'/>
<body>
<p>15 playing</p>
<div class='game'>
	<div class='game-room'>
        ******game******
		<div class ='grid-container'>
			<div class ='grid-child card backcard'></div>
			<div class ='grid-child card wild'></div>
			<div class ='grid-child card wildDrawFour'></div>
			
			<div class ='grid-child card skip-yellow'></div>
			<div class ='grid-child card reverse-yellow'></div>
			<div class ='grid-child card draw-yellow'></div>

			<div class ='grid-child card skip-red'></div>
			<div class ='grid-child card reverse-red'></div>
			<div class ='grid-child card draw-red'></div>

			<div class ='grid-child card skip-blue'></div>
			<div class ='grid-child card reverse-blue'></div>
			<div class ='grid-child card draw-blue'></div>

			<div class ='grid-child card skip-green'></div>
			<div class ='grid-child card reverse-green'></div>
			<div class ='grid-child card draw-green'></div>
		</div>

		<div class ='grid-container'>
			<div class ='card yellow-1'></div>
			<div class ='card yellow-2'></div>
			<div class ='card yellow-3'></div>
			<div class ='card yellow-4'></div>
			<div class ='card yellow-5'></div>
			<div class ='card yellow-6'></div>
			<div class ='card yellow-7'></div>
			<div class ='card yellow-8'></div>
			<div class ='card yellow-9'></div>
			<div class ='card yellow-0'></div>
		</div>

        <div class ='grid-container'>
			<div class ='card red-1'></div>
			<div class ='card red-2'></div>
			<div class ='card red-3'></div>
			<div class ='card red-4'></div>
			<div class ='card red-5'></div>
			<div class ='card red-6'></div>
			<div class ='card red-7'></div>
			<div class ='card red-8'></div>
			<div class ='card red-9'></div>
			<div class ='card red-0'></div>
		</div>

        <div class ='grid-container'>
			<div class ='card blue-1'></div>
			<div class ='card blue-2'></div>
			<div class ='card blue-3'></div>
			<div class ='card blue-4'></div>
			<div class ='card blue-5'></div>
			<div class ='card blue-6'></div>
			<div class ='card blue-7'></div>
			<div class ='card blue-8'></div>
			<div class ='card blue-9'></div>
			<div class ='card blue-0'></div>
		</div>

        <div class ='grid-container'>
			<div class ='card green-1'></div>
			<div class ='card green-2'></div>
			<div class ='card green-3'></div>
			<div class ='card green-4'></div>
			<div class ='card green-5'></div>
			<div class ='card green-6'></div>
			<div class ='card green-7'></div>
			<div class ='card green-8'></div>
			<div class ='card green-9'></div>
			<div class ='card green-0'></div>
		</div>
		
    </div>
	<div class=>
	</div>
	{{> chat}}
</div>
</body>
