<link rel='stylesheet' href='../stylesheets/cardstyle.css'/>
<body>
<p>15 playing</p>
<div class='game'>
	<div class='game-room'>
        ******game******
        <div class ='card backcard'></div>
        <div class ='card yellow'></div>
        <div class ='card red'></div>
        <div class ='card blue'></div>
        <div class ='card green'></div>
    </div>
	<div class=>
	</div>
	{{> chat}}
</div>
</body>
