<link rel='stylesheet' href='../stylesheets/cardstyle.css'/>
<body>
<p>15 playing</p>
<div class='game'>
    <div class='game-room' >
        ******game******
            <div class = 'hand'>
                <div class ='player-one'>
                    <div class="card backcard"></div>
                    <div class="card backcard"></div>
                    <div class="card backcard"></div>
                    <div class="card backcard"></div>
                    <div class="card backcard"></div>
                    <div class="card backcard"></div>
                    <div class="card backcard"></div>
                </div>
            </div>
            <div class = 'hand'>
                <div class = 'player-two'>
                    <div class="card backcard"></div>
                    <div class="card backcard"></div>
                    <div class="card backcard"></div>
                    <div class="card backcard"></div>
                    <div class="card backcard"></div>
                    <div class="card backcard"></div>
                    <div class="card backcard"></div>
                </div>
            </div>
        <div class = 'hand'>
            <div class = 'player-three'>
                <div class="card backcard"></div>
                <div class="card backcard"></div>
                <div class="card backcard"></div>
                <div class="card backcard"></div>
                <div class="card backcard"></div>
                <div class="card backcard"></div>
                <div class="card backcard"></div>
            </div>
        </div>
        <div class = 'hand'>
            <div class = 'user'>
                <div class="card red-3"></div>
                <div class="card blue-1"></div>
                <div class="card blue-7"></div>
                <div class="card wildDrawFour"></div>
                <div class="card skip-yellow"></div>
                <div class="card wild"></div>
                <div class="card green-4"></div>
            </div>
        </div>
    </div>
    <div class>
    </div>
    {{> chat}}
</div>
</body>