<div class='landing-top'>
	<p>20 games</p>
	<button id='create-game' class='secondary-btn'>Create New Game</button>
</div>
<div class='landing'>
	<div class='landing_game-room'>
		<div class='landing_list-item'>
			<div class='landing_list-item_left'>
				<p>id: 123</p>
				<p>user: 20</p>
			</div>
			<div>
				<a href='/game/123' class='secondary-btn'>Join</a>
			</div>
		</div>
		<div class='landing_list-item'>
			<div class='landing_list-item_left'>
				<p>id: 123</p>
				<p>user: 20</p>
			</div>
			<div>
				<a href='/game/123' class='secondary-btn'>Join</a>
			</div>
		</div>
		<div class='landing_list-item'>
			<div class='landing_list-item_left'>
				<p>id: 123</p>
				<p>user: 20</p>
			</div>
			<div>
				<a href='/game/123' class='secondary-btn'>Join</a>
			</div>
		</div>
		<div class='landing_list-item'>
			<div class='landing_list-item_left'>
				<p>id: 123</p>
				<p>user: 20</p>
			</div>
			<div>
				<a href='/game/123' class='secondary-btn'>Join</a>
			</div>
		</div>
		<div class='landing_list-item'>
			<div class='landing_list-item_left'>
				<p>id: 123</p>
				<p>user: 20</p>
			</div>
			<div>
				<a class='secondary-btn'>Join</a>
			</div>
		</div>
		<div class='landing_list-item'>
			<div class='landing_list-item_left'>
				<p>id: 123</p>
				<p>user: 20</p>
			</div>
			<div>
				<a class='secondary-btn'>Join</a>
			</div>
		</div>
		<div class='landing_list-item'>
			<div class='landing_list-item_left'>
				<p>id: 123</p>
				<p>user: 20</p>
			</div>
			<div>
				<a class='secondary-btn'>Join</a>
			</div>
		</div>
		<div class='landing_list-item'>
			<div class='landing_list-item_left'>
				<p>id: 123</p>
				<p>user: 20</p>
			</div>
			<div>
				<a class='secondary-btn'>Join</a>
			</div>
		</div>
	</div>
	{{> chat}}
</div>
<script>
	const createGameBtn = document.getElementById('create-game');
	console.log(createGameBtn); 
	if (createGameBtn) {
		createGameBtn.addEventListener('click', async () => { 
			const result = await fetch('/game/create', { method: 'POST', 
			headers: { 'Accept':'application/json', 'Content-Type': 'application/json' }, 
			body: JSON.stringify({title: "Default Game"})}); const body = await result.json();
			console.log(body); 
		}); 
	}
</script>