<div class='landing-top'>
	<div class="search-container">
		<p>{{count}} games</p>
		<form action='/search'><input type='text' placeholder="Search by game id" name="keyword" /></form>
	</div>
	<button id='create-game' class='secondary-btn'>Create New Game</button>
</div>
<div class='landing'>
	<div id='game-list' class='landing_game-room'>
		{{#each games}}
			<div class='landing_list-item'>
				<div class='landing_list-item_left'>
					<p>id: {{id}}</p>
					<p>players: {{userCount}}/4</p>
				</div>
				<div>
					<a href='/game/{{id}}' class='secondary-btn'>Join</a>
				</div>
			</div>
		{{/each}}
	</div>
	{{> chat}}
</div>