<div class='landing'>
	<div class='landing_game-room'>
		<div class='landing_list-item'>
			<div class='landing_list-item_left'>
				<p>id: 123</p>
				<p>user: 20</p>
			</div>
			<div>
				<button class='secondary-btn'>Join</button>
			</div>
		</div>
        		<div class='landing_list-item'>
			<div class='landing_list-item_left'>
				<p>id: 123</p>
				<p>user: 20</p>
			</div>
			<div>
				<button class='secondary-btn'>Join</button>
			</div>
		</div>
        		<div class='landing_list-item'>
			<div class='landing_list-item_left'>
				<p>id: 123</p>
				<p>user: 20</p>
			</div>
			<div>
				<button class='secondary-btn'>Join</button>
			</div>
		</div>
        		<div class='landing_list-item'>
			<div class='landing_list-item_left'>
				<p>id: 123</p>
				<p>user: 20</p>
			</div>
			<div>
				<button class='secondary-btn'>Join</button>
			</div>
		</div>
        		<div class='landing_list-item'>
			<div class='landing_list-item_left'>
				<p>id: 123</p>
				<p>user: 20</p>
			</div>
			<div>
				<button class='secondary-btn'>Join</button>
			</div>
		</div>
	</div>
	<div class='landing_chat'>chat</div>
</div>