<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  </head>
  <body>
    {{> nav}}
    <div class="content">
    {{{body}}}
    </div>
    {{> footer}}
  </body>
</html>
