<div class='auth-container'>
	<form action='/auth/login' class='auth-form' method='post'>
		<h1>Login</h1>
		<div class='auth-form_input'>
			<label for='username'>Email</label>
			<input type='email' id='email' name='email' required />
		</div>
		<div class='auth-form_input'>
			<label for='password'>Password</label>
			<input type='password' id='password' name="password" required />
		</div>
		<a href='/signup' class='has-account'>Does not have an account? Sign up</a>
		<div class='auth_button-group'>
			<button class='primary-btn'>login</button>
			<a href='/' class='cancel-btn'>back</a>
		</div>
	</form>
</div>