<div class='auth-container'>
	<form
		action='/auth/signup'
		class='auth-form'
		method='post'
		enctype='application/x-www-form-urlencoded'
	>
		<h1>Sign up</h1>
		<div class='auth-form_input'>
			<label for='username'>Username</label>
			<input
				type='text'
				id='username'
				name='username'
				required
			/>
		</div>
		<div class='auth-form_input'>
			<label for='email'>Email</label>
			<input type='text' id='email' name='email'  required />
		</div>
		<div class='auth-form_input'>
			<label for='password'>Password</label>
			<input
				type='password'
				id='password'
				name='password'
				required
			/>
		</div>
		<div class='auth-from_tnc'>
			<a href='/terms&conditions'>I have read the terms & conditions</a>
			<input type='checkbox' id='tnc' required/>
		</div>
		<div class='auth_button-group'>
			<button class='primary-btn'>sign up</button>
			<a href='/' class='cancel-btn'>back</a>
		</div>
	</form>
</div>